# requirements.txt
snowflake-snowpark-python
streamlit
import requests  

if ingredients_list:
  ingredients_string = '' 

  for fruit_chosen in ingredients_list:
    ingredients_string += fruit_chosen + ' '
    smoothiefroot_response = requests.get("[https://my.smoothiefroot.com/api/fruit/watermelon](https://my.smoothiefroot.com/api/fruit/watermelon)")  
    sf_df = st.dataframe(data=smoothiefroot_response.json(), use_container_width=True)
